<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>major</key>
	<dict>
		<key>dark</key>
		<string>#ff9800</string>
		<key>light</key>
		<string>#3F51B5</string>
	</dict>
	<key>background</key>
	<dict>
		<key>dark</key>
		<string>#373148</string>
		<key>light</key>
		<string>#ECEFF1</string>
	</dict>
	<key>highlight</key>
	<dict>
		<key>dark</key>
		<string>#FFFFFF</string>
		<key>light</key>
		<string>#000000</string>
	</dict>
	<key>navibarTint</key>
	<dict>
		<key>dark</key>
		<string>#FFFFFF</string>
		<key>light</key>
		<string>#00000</string>
	</dict>
	<key>naviBackground</key>
	<dict>
		<key>dark</key>
		<string>#38333F</string>
		<key>light</key>
		<string>#38333F</string>
	</dict>
	<key>divide</key>
	<dict>
		<key>dark</key>
		<string>#474252</string>
		<key>light</key>
		<string>#474252</string>
	</dict>
	<key>focus</key>
	<dict>
		<key>dark</key>
		<string>#C62828</string>
		<key>light</key>
		<string>#C62828</string>
	</dict>
	<key>heavy</key>
	<dict>
		<key>dark</key>
		<string>#FFFFFF</string>
		<key>light</key>
		<string>#000000</string>
	</dict>
	<key>medium</key>
	<dict>
		<key>dark</key>
		<string>#eceff1</string>
		<key>light</key>
		<string>#eceff1</string>
	</dict>
</dict>
</plist>
